.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}

.thumbnail {
  width: 100%;
  border-radius: 12px;
}

.video-details {
  display: grid;
  grid-template-columns: 36px 1fr;
}

.profile-pic {
  padding-top: 5px;
  width: 100%;
  border-radius: 50%;
}

.details {
  margin-left: 10px;
}

.video-title {
  font-size: 14px;
  font-weight: 500;
  padding-top: 5px;
  padding-bottom: 10px;
  line-height: 20px;
}

.channel-name,
.video-views {
  font-size: 12px;
  margin-bottom: 5px;
  color: rgb(96, 96, 96);
}

.video-thumbnail {
  position: relative;
}

.play-time {
  background-color: black;
  color: #fff;
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 2px 3px;
  border-radius: 3px;
}

@media (min-width: 0px) and (max-width: 700px) {
  .video-grid {
    grid-template-columns: 1fr;
  }
  .thumbnail {
    border-radius: 0px;
  }
}

@media (min-width: 701px) and (max-width: 900px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
